.App {
  width: 900px;
  display: block;
  padding: 20px;
  margin: 20px auto; 
}

input{
  width: 400px;
  padding: 8px 20px;
}

button{
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin: 8px 0;
}

.t-success{
 color: #02ad36;
}

.t-fail{
  color: #ff0000;
}

.t-info{
  color: #1b6eeb;
  font-weight: bold;
}
